<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <movie>
            <magenestpage>
              <text_field>I’m a text field</text_field>
              <yesno>1</yesno>
                <magenest_movie ></magenest_movie>
                <custom>show</custom>
            </magenestpage>
        </movie>
    </default>
</config>