<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">    <system>
        <tab id="magenest" translate="label" sortOrder="60">

            <label>Magenest</label>
        </tab>

    <section id="movie" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
        <label>Movie</label>
        <tab>magenest</tab>
        <resource>Magenest_Movie::config_movie</resource>
        <group id="magenestpage" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Magenest page settings</label>
            <field id="text_field" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
              <label> text filed</label>
            </field>
            <field id="yesno" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label><![CDATA[yes/no<font color="red">_abc</font>]]></label>
                <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
            </field>
            <field id="custom" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Custom Select Field</label>
                <frontend_class>custom</frontend_class>
                <source_model>Magenest\Movie\Model\Resource\Setvalues</source_model>
<!--                <frontend_model>Magenest\Movie\Block\Adminhtml\SelectOptions</frontend_model>-->
            </field>
            <field id="magenest_movie" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Rows in table "magenest_movie"</label>
                <backend_model>Magenest\Movie\Model\Resource\Rowmovie</backend_model>
                <frontend_model>Magenest\Movie\Model\Resource\Disablemovie</frontend_model>
                <validate>required-entry</validate>
            </field>
            <field id="magenest_actor" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1" >
                <label>Rows in table "magenest_actor"</label>
                <frontend_class>hide-this</frontend_class>
<!--                <attribute type="disabled">1</attribute>-->
                <backend_model>Magenest\Movie\Model\Resource\Rowactor</backend_model>
                <validate>required-disabled</validate>
                <frontend_model>Magenest\Movie\Block\Adminhtml\Rowcount\Disabled</frontend_model>
                <depends>
                    <field id="custom">show</field>
                </depends>
            </field>
            <field id="reload" translate="label comment tooltip" type="button" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Button Reload</label>
                <frontend_model>Magenest\Movie\Block\Adminhtml\Config\Reload</frontend_model>
            </field>
<!--            <field id="text" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">-->
<!--                <label>Text backend model</label>-->
<!--                <backend_model>Magenest\Movie\Model\Resource\Text</backend_model>-->
<!--                <validate>required-entry</validate>-->
<!--            </field>-->
        </group>
    </section>
    </system>
</config>